// Lists
@list-width: 240px;
@list-horizontal-spacing: 8px;
@list-vertical-spacing: 8px;
@list-padding: 12px;
@list-border-radius: @common-border-radius;
@color-list-background: #ececec;

// List items
@list-item-padding: 4px 8px;
@list-item-vertical-spacing: 8px;

// Add list
@add-list-background: rgba(200, 200, 200, 0.6);

.lists {
  .squeeze;
}

.add-list {
  .col;
  width: @list-width;
  margin-bottom: @list-vertical-spacing;
  padding: 0;
  font-weight: bold;
  background: @add-list-background;
  border-radius: @list-border-radius;
  &.is-adding-new-list {
    padding: @list-padding;
    a {
      height: auto;
      padding: 0;
    }
  }
  a {
    .col;
    width: 100%;
    height: 100%;
    padding: @list-padding;
  }
  button {margin-top: @list-item-vertical-spacing;}
  input {width: 100%;}
}

.list {
  .col;
  width: @list-width;
  margin-right: @list-horizontal-spacing;
  margin-bottom: @list-vertical-spacing;
  &:last-of-type {margin-right: 0;}
  padding: @list-padding;
  background: @color-list-background;
  border-radius: @list-border-radius;
  header {
    font-weight: bold;
  }
}

.list-item {
  margin-top: @list-item-vertical-spacing;
  padding: @list-item-padding;
  background: @color-white;
  border-radius: @list-border-radius;;
}

.list-controls {
  margin-top: @list-item-vertical-spacing;
}