.workspace {
  > .content {
    .squeeze;
  }
}

.list {
  .col;
  width: @list-width;
  margin-right: @list-horizontal-spacing;
  margin-bottom: @list-vertical-spacing;
  padding: @list-padding;
  background: @color-list-background;
  border-radius: @list-border-radius;
  header {
    font-weight: bold;
  }
}

.note {
  margin-top: @note-vertical-spacing;
  padding: @note-padding;
  background: @color-white;
  border-bottom: 1px solid @color-note-border;
  border-radius: @note-border-radius;
  &.edit-mode {
    padding: 0;
    background: none;
    border-bottom: none;
  }
  .text-editable {
    width: 100%;
    min-height: 70px;
    padding: @note-padding;
    resize: none;
    background: @color-white;
    border: none;
    border-radius: @common-border-radius;
  }
  .controls {
    margin-top: 8px;
  }
}

.list-controls {
  margin-top: @note-vertical-spacing;
}