// Standard colors
@color-white      : #ffffff;
@color-sea-foam   : #5a976e;
@color-light-gray : #ccc;

// Semantic colors
@color-text: #444;
@color-background: @color-sea-foam;
@color-input-border: @color-light-gray;
@color-button-border: @color-light-gray;
