@import "vars";
@import "font";
@import "colors";
@import "mixins";
@import "normal";
@import "forms";
@import "buttons";
@import "app/ui/modal-input";
@import "app/dashboard";
@import "app/workspace";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, main {
  // .full;
}

body {
  margin: 0;
  font-family: @default-font;
  font-size: @base-font-size;
  line-height: @base-line-height;
  color: @color-text;
  background: @color-background;
}

#app {
  padding: @body-padding;
}
