<!DOCTYPE html>

<html>

<head>
  <title>Textlist</title>
  <link rel="stylesheet" href="/static/lib/bootstrap/3.0.0/dist/css/bootstrap.css" type="text/css" media="screen" />
  <!-- <link rel="stylesheet/less" href="/static/lib/normalize/3.0.0/normalize.css" type="text/css" /> -->
  <link rel="stylesheet/less" href="/static/less/style.less" type="text/css" />
  <script src="/static/lib/less/1.6.2/dist/less-1.6.2.min.js" type="text/javascript"></script>
</head>

<body>

  {% raw %}

    <script type="text/x-handlebars" data-template-name="application">
      <h1>Textlist</h1>
      {{outlet "editor"}}
      {{outlet "gui"}}
    </script>

    <script type="text/x-handlebars" data-template-name="editor">
      {{view App.ContentEditableView}}
    </script>

    <script type="text/x-handlebars" data-template-name="gui">
      <div class="gui">GUI</div>
    </script>

    <script type="text/x-handlebars" data-template-name="editable">
      <div class="editor" {{bind-attr contenteditable="view.editModeAttr"}}>
        {{text}}
      </div>
    </script>

  {% endraw %}

  {% include "scripts.html" %}

</body>

</html>
