<!DOCTYPE html>

<html>

<head>

  <title>List</title>

  <link rel="stylesheet/less" href="/static/lib/normalize/normalize.css" type="text/css" />
  {# <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css" type="text/css" media="screen" /> #}

  {# {% assets "style" %}
    <link rel="stylesheet" href="{{ASSET_URL}}" type="text/css" />
  {% endassets %} #}

  <link rel="stylesheet/less" href="/static/less/style.less" type="text/css" />
  <script src="/static/lib/less/dist/less-1.7.0.min.js" type="text/javascript"></script>

</head>

<body>

  {% raw %}

    <script type="text/x-handlebars" data-template-name="application">
      {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="dashboard">
      <div class="content">
        <h1>Workspaces</h1>
        {{render "add-workspace"}}
        <ul class="list">
          {{#each}}
            <li class="note">
              <div class="title">{{title}}</div>
              <small>
                {{try-else lists.length "No"}} lists
              </small>
            </li>
          {{/each}}
        </ul>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="workspace">
      {{#each}}
        {{render "list" this}}
      {{/each}}
      {{render "add-list"}}
    </script>

    <script type="text/x-handlebars" data-template-name="list">
      <header>{{title}}</header>
      {{#each notes}}
        {{render "note" this}}
      {{/each}}
      <div class="list-controls">
        <a {{action "addNewNote"}}>Add new note...</a>
      </div>
      <div class="list-controls">
        <a {{action "archiveList"}}>Archive</a>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="note">
      {{#if editMode}}
        <form {{action "saveNote" on="submit"}}>
          {{text-editable value=text focus=true}}
          <div class="controls">
            <button type="submit">Save</button>
            <button {{action "discard"}}>Discard</button>
          </div>
        </form>
      {{else}}
        {{format-lines text}}
      {{/if}}
    </script>

    <script type="text/x-handlebars" data-template-name="modal-input">
      {{#if view.editMode}}
        <form {{action "confirm" on="submit" target="view"}}>
          {{focus-input value=view.inputValue placeholder=view.placeholderText}}
          <div class="modal-input-controls">
            <button {{action "cancel" target="view"}} type="button">{{view.cancelText}}</button>
            <button type="submit">{{view.saveText}}</button>
          </div>
        </form>
      {{else}}
        <a {{action "toggleEditMode" target="view"}}>{{view.normalText}}</a>
      {{/if}}
    </script>

  {% endraw %}

  {% include "scripts.html" %}

</body>

</html>
