<!DOCTYPE html>

<html>

<head>

  <title>List</title>

  <link rel="stylesheet/less" href="/static/lib/normalize/normalize.css" type="text/css" />
  {# <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css" type="text/css" media="screen" /> #}

  {# {% assets "style" %}
    <link rel="stylesheet" href="{{ASSET_URL}}" type="text/css" />
  {% endassets %} #}

  <link rel="stylesheet/less" href="/static/less/style.less" type="text/css" />
  <script src="/static/lib/less/dist/less-1.7.0.min.js" type="text/javascript"></script>

</head>

<body>

  {% raw %}

    <script type="text/x-handlebars" data-template-name="application">
      {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="lists">
      {{#each}}
        {{render "list" this}}
      {{/each}}
      {{render "add-list"}}
    </script>

    <script type="text/x-handlebars" data-template-name="add-list">
      {{#unless view.isAddingNewList}}
        <a {{action "addNewList" target="view"}}>Add a list...</a>
      {{else}}
        <form {{action "saveNewList" on="submit" target="view"}}>
          {{focus-input value=view.title placeholder="Title"}}
          <button {{action "cancel" target="view"}} type="button">Cancel</button>
          <button type="submit">Save</button>
        </form>
      {{/unless}}
    </script>

    <script type="text/x-handlebars" data-template-name="list">
      <header>{{title}}</header>
      <ul>
        {{#each items}}
          {{view "list-item" content=this}}
        {{/each}}
      </ul>
      <div class="list-controls">
        <button {{action "archive"}}>Remove list</button>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="list-item">
      {{text}}
    </script>

  {% endraw %}

  {% include "scripts.html" %}

</body>

</html>
