<!DOCTYPE html>

<html>

<head><title>Textlist</title>
  <!--<link rel="stylesheet" href="/static/lib/bootstrap/3.0.0/dist/css/bootstrap.css" type="text/css" media="screen" />-->
  <link rel="stylesheet/less" href="/static/lib/normalize/3.0.0/normalize.css" type="text/css" />
  <link rel="stylesheet/less" href="/static/less/style.less" type="text/css" />
  <script src="/static/lib/less/1.6.2/dist/less-1.6.2.min.js" type="text/javascript"></script>
  <script data-main="/static/js/main.js" src="/static/js/require.js"></script>
</head>

<body>

  <main>

    <div class="editor">

      <div class="text-editor-placeholder"></div>

      <textarea class="hide">* Fruits to buy
  Apples
  Oranges
  Bananas
  Pears
  Kiwis
** Bought
   Watermelon
   Starfruit

* Todo
  Buy fruits
  Do laundry
  Send emails

* Learn
  Python
  Ruby
  Biking
  Karate
  Knitting

* Read
  Defeating Life
  Building Bridges
  Gaining Weight The Hard Way
  Ten Ways to Overcome Joy
  Mastery of the Whistle

* Remember
  You're ok
  Make it a habit
  Fail quick, succeed slow</textarea>

    </div>

    <div class="gui">
      <div class="lists"></div>
    </div>

  </main>

  {# TODO: Include everything in the tp/ directory. #}

  <script type="text/html" id="">
  </script>

  {# Inline scripts #}

  <script>
    function log() {
      return console.log.apply(console, arguments);
    }
  </script>

  {# Global scripts #}
  <script type="text/javascript" src="/static/lib/jquery/1.10.2/jquery.js"></script>
  <script type="text/javascript" src="/static/lib/underscore/1.5.2/underscore.js"></script>
  <script type="text/javascript" src="/static/lib/underscore.string/2.3.0/lib/underscore.string.js"></script>
  <script type="text/javascript" src="/static/lib/backbone/1.1.0/backbone.js"></script>
  <script type="text/javascript" src="/static/lib/moment/2.3.1/moment.min.js"></script>
  <!--<script type="text/javascript" src="/static/lib/bootstrap/3.0.0/dist/js/bootstrap.js"></script>-->
  <script type="text/javascript" src="/static/lib/handlebars/1.1.2/handlebars.js"></script>

</body>

</html>
