{# Library #}
<script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/handlebars/handlebars.js"></script>
<script type="text/javascript" src="/static/lib/ember/ember.js"></script>
<script type="text/javascript" src="/static/lib/ember-data/ember-data.js"></script>
<script type="text/javascript" src="/static/lib/moment/moment.js"></script>
<script type="text/javascript" src="/static/lib/underscore/underscore.js"></script>
<script type="text/javascript" src="/static/lib/underscore.string/dist/underscore.string.min.js"></script>
<script type="text/javascript" src="/static/lib/pillarjs/pillar.js"></script>

{# My extensions #}
<script type="text/javascript" src="/static/ext/editor/reader.js"></script>
<script type="text/javascript" src="/static/ext/editor/editor.js"></script>
<!-- <script type="text/javascript" src="/static/ext/editor/controller.js"></script> -->
<!-- <script type="text/javascript" src="/static/ext/editor/view.js"></script> -->

{# Mine #}
<script type="text/javascript" src="/static/js/init.js"></script>

{# Modules #}

{# App #}
<script type="text/javascript" src="/static/js/app/app.js"></script>
<script type="text/javascript" src="/static/js/app/route.js"></script>
<script type="text/javascript" src="/static/js/app/controller.js"></script>
<script type="text/javascript" src="/static/js/app/view.js"></script>

{# Common #}
<!--  -->

{# Gui #}
<script type="text/javascript" src="/static/js/app/gui/controller.js"></script>
<script type="text/javascript" src="/static/js/app/gui/view.js"></script>
