{# Inline scripts #}
<script>
  function log() {return console.log.apply(console, arguments)}
  function dir() {return console.dir.apply(console, arguments)}
</script>

{# Library #}
<script type="text/javascript" src="/static/lib/jquery/1.10.2/jquery.js"></script>
<script type="text/javascript" src="/static/lib/handlebars/1.3.0/handlebars.js"></script>
<script type="text/javascript" src="/static/lib/ember/1.4.1/ember.js"></script>
<script type="text/javascript" src="/static/lib/ember-data/1.0.0/ember-data.js"></script>
<script type="text/javascript" src="/static/lib/moment/2.3.1/moment.min.js"></script>
<script type="text/javascript" src="/static/lib/underscore/1.5.2/underscore.js"></script>
<!-- <script type="text/javascript" src="/static/lib/underscore.string/2.3.0/lib/underscore.string.js"></script> -->
<!-- <script type="text/javascript" src="/static/lib/backbone/1.1.0/backbone.js"></script> -->
<!-- <script type="text/javascript" src="/static/lib/bootstrap/3.0.0/dist/js/bootstrap.js"></script> -->

{# Mine #}
<script type="text/javascript" src="/static/js/util/reader.js"></script>

{# Modules #}

{# App #}
<script type="text/javascript" src="/static/js/app/app.js"></script>
<script type="text/javascript" src="/static/js/app/controller.js"></script>
<script type="text/javascript" src="/static/js/app/route.js"></script>

{# Common #}
<script type="text/javascript" src="/static/js/common/view.js"></script>

{# Editor #}
<script type="text/javascript" src="/static/js/app/editor/view.js"></script>
<script type="text/javascript" src="/static/js/app/editor/controller.js"></script>

{# Gui #}
<script type="text/javascript" src="/static/js/app/gui/view.js"></script>
<script type="text/javascript" src="/static/js/app/gui/controller.js"></script>
