{# Library #}
<script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/handlebars/handlebars.js"></script>
<script type="text/javascript" src="/static/lib/ember/ember.js"></script>
<script type="text/javascript" src="/static/lib/ember-data/ember-data.js"></script>
<script type="text/javascript" src="/static/lib/ember-localstorage-adapter/localstorage_adapter.js"></script>
<script type="text/javascript" src="/static/lib/moment/moment.js"></script>
<script type="text/javascript" src="/static/lib/underscore/underscore.js"></script>
<script type="text/javascript" src="/static/lib/underscore.string/dist/underscore.string.min.js"></script>
<script type="text/javascript" src="/static/lib/pillarjs/pillar.js"></script>

{# Always first to load #}
<script type="text/javascript" src="/static/js/init.js"></script>

{% for script in scripts %}
  <script type="text/javascript" src="/{{script}}"></script>
{% endfor %}

{# Always last to load #}
<script type="text/javascript" src="/static/js/main.js"></script>
